/* ---------------------------------------------------------------------ABOUT PAGE CSS--------------------------------------------------------------- */

/* customization of the materialize defaults */
nav {
    background-color: crimson;
}
body{
	background-color: #C1D3C8;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
h1 {
    font-size: 6.2rem;
    line-height: 110%;
	margin: 2.8rem 0 1.68rem 0;
	font-family: 'Fjalla One', sans-serif;
}
h5{
    margin: 20px;
    color: #C1D3C8;
}
.about-header, .about-text{
    background-color: rgb(84, 121, 143);
    font-family: 'Fjalla One', sans-serif;
}
nav ul a{
    color: #C1D3C8;
}
nav #home-button{
    color: #C1D3C8;
} 
.page-footer{
	background-color: crimson;
	color: #C1D3C8;
	font-family: 'Fjalla One', sans-serif; 
}
#mobile-header{
	color: #C1D3C8;
}
.container{
    z-index: 10;
}

/* CSS required for desktop header effect */
.box {
    /* position: relative;
    right: -500px; */
	display: flex;
}

.box .inner {
	width: 400px;
	height: 200px;
	line-height: 200px;
	
	/* font-family: sans-serif; */
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: crimson;
	color: rgb(84, 121, 143);
	transform-origin: right;
	transform: perspective(700px) rotateY(-35deg);
}

.box .inner:last-child {
	background-color: indianred;
	color: #C1D3C8;
	transform-origin: left;
	transform: perspective(700px) rotateY(35deg);
}

.box .inner h1 {
	position: absolute;
	animation: marquee 5s linear infinite;
	font-size: 6.2rem;
}

.box .inner:first-child h1 {
	animation-delay: 2.5s;
	left: -100%;
	font-size: 6.2rem;
}
/* added margin to the parallax container, adds to the effect of it looking like its behind the text rows */
.parallax-container{
	margin-right: 10px;
	margin-left: 10px;
	font-size: 60px;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

/* media queries to adjust for mobile responsiveness */
@media screen and (max-width: 850px) and (min-width: 300px){
	h1{
		font-size: 40px;
	}
	h5{
        font-size: 15px;
    }
} 

@media screen and (max-width: 1030px) and (min-width: 851px){
	.inner-header{
		position: relative;
		top: 20px;
	}
}
