/* -----------------------------------------------------------------------PORTFOLIO CSS PAGE----------------------------------------------------------- */

/* Custom css to match themes */
nav {
    background-color: crimson;
}
body{
    background-color: #C1D3C8;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
.page-footer{
background-color: crimson;
color: #C1D3C8; 
}
h1{
    font-family: 'Fjalla One', sans-serif;
}
nav ul a{
    color: #C1D3C8;
}
nav #home-button{
    color: #C1D3C8;
} 
#mobile-header{
	color: #C1D3C8;
}
.container{
    z-index: 10;
}
.h1-type{
    color: crimson;
}
#portfolio-header{
    background-color: rgb(84, 121, 143);
    height: 160px;
}
#slide-one{
    background-image: url(../Images/A1portfolioImg.PNG);
}


/* Swiper Css */
body {
    /* background: #fff; */
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    /* color:#000; */
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/* media queries for responsiveness */
@media screen and (max-width: 700px) and (min-width: 300px){
    h1{
        font-size: 25px;
        position: relative;
        bottom: 20px;
    }
    .swiper-slide {
        width: 200px;
        height: 200px;
    }
    #portfolio-header{
        height: 60px;
    }
}